@model Accounts.Models.UserModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Update", "User"))
{
    <div class="form-group">
        @Html.LabelFor(x => x.Name, "Enter name")
        @Html.TextBoxFor(x => x.Name, new { @placeholder = "Enter name", @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Amount, "Enter Amount")
        @Html.TextBoxFor(x => x.Amount, new { @placeholder = "Enter Amount", @class = "form-control", @type = "number", @min = "0" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.PayDay, "Enter Pay Day")
        @Html.TextBoxFor(x => x.PayDay, new { @placeholder = "Enter Pay Day", @class = "form-control", @type = "number", @min = "1", @max = "31" })
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
    @Html.HiddenFor(x => x.Id)
}

